@font-face {
  font-family: IranSans;
  src: url("../fonts/IRANSansX-Medium.woff");
  font-weight: normal;
}
@font-face {
  font-family: IranSans;
  src: url("../fonts/IRANSansX-Bold.woff");
  font-weight: 700;
}
@font-face {
  font-family: IranSans;
  src: url("../fonts/IRANSansX-Black.woff");
  font-weight: 800;
}

html {
  font-family: IranSans;
  font-size: 14px;
}
body {
  font-family: IranSans;
  font-size: 14px;
  direction: rtl;
  color: #13213c;

  background-color: #f0f0f0;
}

a {
  /* all: unset; */

  color: inherit;
  text-decoration: none;
}
ul {
  padding: 0;
  margin-bottom: 0;
}

input {
  border: none;
  caret-color: #fdbb4b;
}
input:focus {
  /*! background: red; */
  outline: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
button {
  border: none;
}
li {
  text-decoration: none;
  list-style: none;
}

.btn {
  font-size: 1rem !important;
}
.custom-input:focus-within {
  border-bottom: #fca40f solid 4px;
  background-color: #fff8ed;
}
.custom-input:focus-within span {
  opacity: 0.8;
}
.custom-input span {
  font-weight: bold;

  opacity: 0.6;
}
.custom-input input {
  background-color: transparent;
  width: 100%;
  margin-top: 5px !important;
  opacity: 0.8 !important;
  font-weight: normal !important;
  font-size: 0.9rem;
}
.custom-input {
  position: relative;
  font-family: "IranSans" !important;
  transition: 0.4s;
  background: #ffffff;
  border: 1px solid rgba(252, 164, 15, 0.4);
  border-radius: 15px;
  width: 100%;
  padding: 9px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* slider */
.slider {
  /* direction: ltr; */
  /* display: flex; */
  overflow: hidden;
}

.slick-list {
  padding-top: 20px;
}
.slick-slide {
  display: flex !important;
  justify-content: center;
}

.slick-next:before {
  transform: rotate(180deg);
}
.slick-prev:before,
.slick-next:before {
  border-radius: 100%;
  opacity: 1 !important;
  content: "";
  width: 35px;
  height: 35px;
  display: inline-block;

  background: url("../icons/leftIcon.svg") no-repeat center;
  background-size: cover;
}
.slick-slider {
  position: initial;
}

.slick-next {
  display: block;
  right: unset;
  bottom: unset;
  left: 80px !important;
  top: 45px !important;
}
.slick-prev {
  display: block;
  bottom: unset;
  right: unset;
  left: 30px !important;
  top: 45px !important;
}
.slick-track {
  display: flex !important;
}

/* sweet alert */
.swal2-popup {
  background: #ffffff !important;
  padding-top: 10px !important;
  border-radius: 30px !important;
  padding-bottom: 55px !important;

  width: 560px !important;
  color: #13213c !important;
  max-width: 90% !important;
  padding-bottom: 75px !important;
}
.swal2-container {
  background: rgba(125, 125, 125, 0.4);
  backdrop-filter: blur(5px);
}
.swal2-confirm {
  border-left: 1px solid #f3f3f3 !important;
}

.swal2-confirm,
.swal2-cancel {
  margin: 0 !important;
  border-top: 1px solid #f3f3f3 !important;

  background: transparent !important;
  color: black !important;
  font-weight: bold !important;
  flex-basis: 50%;

  height: 55px !important;
}
.swal2-confirm:focus,
.swal2-cancel:focus {
  box-shadow: none !important;
}
.bigModal .swal2-actions {
  justify-content: space-around;
}
.bigModal .swal2-actions .swal2-styled {
  margin: 0 !important;
  margin-bottom: 40px !important;
  flex-basis: 45% !important;
  justify-content: space-between;
}
.bigModal .swal2-actions {
  flex-direction: row-reverse !important;
}
.swal2-actions {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.editModal .swal2-confirm {
  background: #f0f0f0 !important;
  border-radius: 15px !important;
  width: 90%;

  color: white !important;
  font-weight: bold !important;
  background-color: #13213c !important;
  margin-bottom: 35px !important;
  flex-basis: 60px !important;
}
.editModal .swal2-cancel {
  background: #f0f0f0 !important;
  width: 90%;
  margin-bottom: 14px !important;
  color: #727272 !important;
  font-size: 0.9rem !important;

  border-radius: 15px !important;
  flex-basis: 60px !important;
}
.editModal {
  height: 518px;
  width: 470px !important;
  max-height: 90%;
}
.bigModal {
  height: 725px;
  width: 880px !important;
}
.editModal .swal2-actions {
  flex-direction: column-reverse;
}

/* utils */
.w-137 {
  width: 137px !important;
  height: 64px !important;
  padding: 0 !important;
  margin: 0 !important;
}
.-fs-11 * {
  font-size: 0.9rem !important;
}
.fs-11 {
  font-size: 1.1rem;
}
.invalid input,
.invalid {
  color: #f13939 !important;
  border-color: #f13939 !important;
}
.text--orange {
  color: #fca40f;
}
.button {
  background-color: #13213c;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  width: 412px;
  margin-top: 110px;
  padding: 20px;
  max-width: 100%;
}
.text--red {
  color: #f13939;
}
.bg--orange {
  background-color: #fca40f;
}

.button--orange {
  text-align: center;
  padding: 20px 35px;
  background-color: #fca40f;
  border-radius: 15px;
  color: white;
}
.edit {
  cursor: pointer;
}
.edit:hover svg {
  transition: 0.3s;
  stroke: #fab33c;
}
.delete {
  cursor: pointer;
}
.delete:hover svg path {
  transition: 0.3s;
  stroke-width: 2px;
}
@media only screen and (max-width: 700px) {
  .mobile-full {
    width: 100% !important;
  }
  .slick-arrow {
    display: none !important;
  }
  .editModal .swal2-actions {
    flex-direction: row-reverse !important;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 0 15px !important;
  }
  .editModal .swal2-actions button {
    flex-basis: 50% !important;
    margin-bottom: 18px !important;
  }
}
@media only screen and (min-width: 1000px) {
  .lg-margin-none {
    margin-right: unset !important;
    margin-left: unset !important;
  }
  .lg-text-right {
    text-align: right !important;
  }
}

/* radio */
/* The container */
.containerRadio {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-basis: 50%;

  padding-right: 35px !important;
  text-align: right !important;
}

/* Hide the browser's default radio button */
.containerRadio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 28px;
  width: 28px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerRadio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerRadio input:checked ~ .checkmark {
  background-color: #f0f0f0;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerRadio input:checked ~ span {
  color: #fca40f;
  transition: 0.3s;
}
.containerRadio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containerRadio .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
  top: 8px;
  left: 8px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fca40f;
}

/* custom select  */
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  width: 200px;
  width: 100% !important;
  height: 70px !important;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  /* background-color: DodgerBlue; */
  width: 100%;
  text-align: right;
  margin-top: 0 !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  /* height: 0; */
  /* border: 6px solid transparent; */
  /* border-color: #fff transparent transparent transparent; */

  top: 24px;
  left: 10px;
  /* border: 6px solid transparent; */
  /*! border-color: #000 transparent transparent transparent; */
  /* color: black; */
  background: center no-repeat url("../icons/arrowRev.svg");
  background-size: contain;
}

/* Point the arrow upwards when the select box is open (active): */
.parent-select-arrow-active {
  border-bottom: #fca40f solid 4px;
  background: #fff8ed;
}
.select-selected.select-arrow-active:after {
  /* border-color: transparent transparent #fff transparent; */
  /* top: 25px; */
  background: center no-repeat url("../icons/arrow.svg");
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #989da8;
  padding: 8px 16px;
  /* border: 1px solid transparent; */
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  margin: 10px;
  border-radius: 7.5px !important;
  transition: 0.3s;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #f0f0f0;
  top: calc(100% + 9px);
  border-radius: 15px;
  left: 0;
  right: 0;
  z-index: 99;
  text-align: right;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: #fca40f;
  color: white !important;
}

.small-label {
  position: absolute;
  left: 25px;
  bottom: 17px;
  font-size: 0.6em;
  opacity: 0.5;
  font-weight: normal !important;
}

/* table */
.customTable thead th {
  padding: 30px !important;
}
.customTable td:first-child {
  padding-right: 30px !important;
}
.customTable td {
  height: 85px !important;
  text-align: center !important;
  position: relative !important;
  z-index: 1 !important;
}
.customTable td:last-child {
  padding-left: 30px !important;
}
.customTable thead {
  background-color: #13213c;
  color: white;
  font-weight: bold;
}
.customTable tbody {
  background-color: white;
  padding: 30px !important;
}
.customTable {
  overflow: hidden;
  border: 1px solid #e8e7e7 !important;
  font-weight: bold;
  border-radius: 30px !important;
  color: #424d63 !important;
}
.customTable th {
  direction: rtl;
  text-align: center !important;
}

.customTable tbody tr:last-child td {
  padding-bottom: 25px;
}
.customTable tbody tr:first-child td {
  padding-top: 55px;
}

.customTable tr {
  position: relative;
}
.customTable tbody tr:last-child:hover::after {
  margin-bottom: 15px !important;
}
.customTable tbody tr:hover::after {
  background: #f0f0f0 content-box !important;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 25px;
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 10px;
  height: 84px;
}

.pageNo:hover,
.pageNo.active {
  color: white;
  background: #fca40f;
}
.pageArrow:hover svg path {
  stroke: #fff;
}
.pageArrow:hover {
  background: #13213c;
}
.pageArrow--left {
  transform: rotate(180deg);
}
.pageArrow {
  transition: 0.3s;
  border: 1.5px solid #13213c;
  border-radius: 100%;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pageNo {
  transition: 0.3s;
  cursor: pointer;
  border: 2px solid #fca40f;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fca40f;
}

.tableCard:hover {
  border: 1px solid rgba(252, 164, 15, 0.6);
}
.tableCard {
  transition: 0.3s;
  margin: auto;
  background: #ffffff;
  border-radius: 25px;
  height: 170px;
  width: 327px;
  max-width: 100%;
  padding: 12px;
  border-color: transparent;
  margin-bottom: 18px;
}
